[Unit]
Description="Retrieve chassis power usage using Redfish"
Wants=rfchassis.timer

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/system/rfchassis.envfile
ExecStart=/bin/sh -c '/usr/bin/curl -kfsS https://${RFuser}:${RFpasswd}@${RFip}${RFurl} | jq | /etc/systemd/system/rfchassis.awk>${RFoutfile}'
