[Unit]
Description="Retrieve PDU power usage using Redfish: PDU1 & PDU2"
Wants=rfpdu.timer

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/system/rfpdu.envfile
ExecStartPre=/bin/sh -c '/usr/bin/curl -kfsS https://${RFuser}:${RFpasswd}@${RFip1}${RFurl1} | jq | /etc/systemd/system/rfpdu.awk>${RFoutfile1}'
ExecStart=/bin/sh -c '/usr/bin/curl -kfsS https://${RFuser}:${RFpasswd}@${RFip2}${RFurl2} | jq | /etc/systemd/system/rfpdu.awk>${RFoutfile2}'
