# VARs used by RFchassis.sh and RFpdus.sh

# RFchassis variables
RFchassis_ip=10.26.9.88
RFchassis_user=root
RFchassis_passwd=100yard-
RFchassis_url=/redfish/v1/Chassis/System.Embedded.1/Power
RFchassis_metric=PowerConsumed

# VARs used by RFpdus.sh
RFpdu_ip1=10.27.242.68
RFpdu_user=labuser
RFpdu_passwd=100Yard-
RFpdu_url1=/redfish/v1/PowerEquipment/RackPDUs/1/Outlets/35
RFpdu_metric=ApparentVA

# VARS used by RcarS4.sh
rcar4_number=02
rcar4_metric=Power
